spring:
  application:
    name: tedtalk-api

  datasource:
    url: jdbc:h2:mem:tedtalksdb
    driver-class-name: org.h2.Driver
    username: sa
    password:

  h2:
    console:
      enabled: true
      path: /h2-console

  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true

  servlet:
    multipart:
      max-file-size: 100MB
      max-request-size: 100MB

ted-talks:
  csv:
    batch-size: 500
    max-concurrent-imports: 5
    import-queue-capacity: 20
  influence:
    views-weight: 0.7
    likes-weight: 0.3

logging:
  level:
    root: INFO
    com.io.tedtalks: INFO
    org.hibernate.SQL: WARN

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    tags-sorter: alpha
    operations-sorter: alpha

server:
  port: 8080