spring:
  datasource:
    url: ${DATABASE_URL:jdbc:postgresql://localhost:5432/tedtalks}
    driver-class-name: org.postgresql.Driver
    username: ${DATABASE_USERNAME:postgres}
    password: ${DATABASE_PASSWORD:postgres}
    hikari:
      maximum-pool-size: 10
      minimum-idle: 5
      connection-timeout: 30000
      idle-timeout: 600000
      max-lifetime: 1800000

  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true
    validate-on-migrate: true

logging:
  level:
    root: INFO
    com.io.tedtalks: INFO
    org.jooq: WARN
    org.flywaydb: INFO
